{% extends 'member/base.html' %}
{% block title %}
PrayerCells
{% endblock title %}
{% block content %}
<section class="section">
  <div class="container">
    <h2 class="section-title text-center">Distribution of prayercells</h2>
    <div class="table-responsive-sm">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Region</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Monday</td>
            <td>None</td>
          </tr>
          <tr>
            <td scope="row">Tuesday</td>
            <td>Mlolongo, Sunset, KMC</td>
          </tr>
          <tr>
            <td scope="row">Wednesday</td>
            <td>City Carton, Kitengela, Greatwall</td>
          </tr>
          <tr>
            <td scope="row">Thursday</td>
            <td>Main Santuary, Pastor's office day</td>
          </tr>
          <tr>
            <td scope="row">Friday</td>
            <td>Sabaki, Jamcity</td>
          </tr>
          <tr>
            <td scope="row">Saturday</td>
            <td>None</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal trigger button -->
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
      newbutton
    </button>

    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
      aria-labelledby="modalTitleId" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">
              Modal title
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Body</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional: Place to the bottom of scripts -->
    <script>
      const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
      );
    </script>

  </div>

</section>
{% endblock content %}